<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite for jsonplaceholder.pojo test">
    <test name="jsonplaceholder.pojo test">
        <classes>
            <class name="jsonplaceholder.requestsTest.PostsTest"/>
            <class name="jsonplaceholder.requestsTest.UsersTest"/>
        </classes>
    </test>
</suite>